@use "../utilities/mixins" as *;
@use "../components/buttons" as *;
@use "../utilities/variables" as *;
@use "../layout/media/media-queries" as *;

/* ---------------------------------- */
/* FOOTER */
/* ---------------------------------- */

footer {
  background-color: $colorOscuro;
  color: $colorBlanco;
  font-size: 0.9rem;
  font-weight: 200;
  padding-top: 2.5rem;
    a{
        color: $colorBlanco;
        text-decoration: none;
        &:hover{text-decoration: underline;}
    }
    .contenedor{
        @include flex(none,row,space-between,none,1.875rem);

        @include mobile{
            flex-wrap: wrap;
        }

        margin-bottom: 1.25rem;
            .footer-col ul{
                padding-left: 0px;
                    li{
                        list-style: none;
                    }
            }
    }
}
 
.footer-bottom {
    @include flex(none,row,space-between,none,1.875rem);
    width: 100%;
    max-width: 85.375rem;
    margin: 0 auto;
    padding: 0 .625rem 0 .625rem;
    border-top: 1px solid $colorBlanco;
    padding: 1.25rem;
        a{
            padding: 0 10px 0 0;
            color: $colorBlanco;
            text-decoration: none;
        }
}