@use "../utilities/mixins" as *;
@use "../components/buttons" as *;
@use "../utilities/variables" as *;

.hero{
    background-color: #FDF7F0;
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
        .hero-content{
            @include flex(nowrap,row,center,space-between,3.75rem)
        }
        h1{
            font-size: 3.875rem;
            font-weight: 600;
        }
        h1 .highlight{
            color: $colorPrincipal;
        }
        p{
            font-size: 1.625rem;
            font-weight: 100;
        }
        .buttons{
            @include flex(wrap,row,none,space-between,1.25rem);
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }
        .btn-primary{
            @extend .btnPrimary;
        }
        .btn-primary:hover{
            @extend .btnPrimary;
            background-color: $colorPrincipalHover;
        }
        .btn-secondary{
            @extend .btnSecondary;
        }
        .btn-secondary:hover{
            @extend .btnPrimary;
            background-color: $colorPrincipalHover;
        }
}