@use "../utilities/mixins" as *;
@use "../components/buttons" as *;
@use "../utilities/variables" as *;
@use "../layout/media/media-queries" as *;

.hero{
    background-color: $colorCrema;
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
        .hero-content{
            @include flex(nowrap,row,space-between,center,3.75rem);

            @include tablet{
                flex-direction: column;
            }
        }
        h1{
            font-size: 3.875rem;
            font-weight: 600;
        }
        h1 .highlight{
            color: $colorPrincipal;
        }
        p{
            font-size: 1.625rem;
            font-weight: 100;
        }
        .buttons{
            @include flex(wrap,row,flex-start,none,1.25rem);
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }
        .text .stats{
            @include flex(wrap,row,flex-start,center,2.5rem);

            @include tablet{
                gap: 1.25rem;
            }
        }
        .text .stats .stats-info h4{
            font-size: 1.75rem;
            font-weight: 800;
        }
        .text .stats .stats-info span{
            font-size: 1rem;
            
            @include tablet{
                font-size: .875rem;
            }
            @include mobile{
                font-size: .75rem;
            }
        }
        .img-header{
            width: 100%;
            img{
                width: 100%;
            }
        }
}

.logos-bar{
    background-color: $colorPrincipal;
        .contenedor{
            @include flex(wrap,row,space-between,center,2.5rem);
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;

            @include tablet{
                gap: .625rem;
            }
            @include mobile{
                gap: .3125rem;
            }
        }
        img{
            width: auto;
            height: 30px;

            @include tablet{
                height: 20px;
            }
            @include mobile{
                height: 10px;
            }
        }
}