body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5 !important;
  color: #262626;
  line-height: 1.6;
  font-weight: 200;
}
.contenedor {
  border: 1px solid red;
  width: 100%;
  max-width: 85.375rem;
  margin: 0 auto;
  padding: 10px 24px;
}