/* colores */
$colorNegro: black;
$colorBlanco: white;
$colorPrincipal: #A461DE;
$colorPrincipalHover: #7828be;
$colorCrema: #FDF7F0;
$colorFondo: #f5f5f5;
$colorRojo: red;
$colorOscuro: #262626;
$colorBorde: #ddd;
$colorTexto: #1a1a1a;
$colorInputFondo: #f9f9f9;
$colorPlaceholder: #888;
$color-muted: #6b7280;
$color-border: #e5e7eb;
$color-bg: #ffffff;

/* medidas */
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;