@use "../utilities/variables" as *;

.btn-primary{
    background-color: $colorPrincipal;
    padding: 1rem 1.25rem;
    color: $colorBlanco;
    border-radius: .5rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    &:hover{
      background-color: $colorPrincipalHover;
    }
}
.btn-secondary{
  padding: 1rem 1.25rem;
  color: $colorOscuro;
  border: 1px solid $colorOscuro;
  border-radius: .5rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  &:hover{
    color: $colorBlanco;
    background-color: $colorPrincipalHover;
  }
}
.btn-white{
  display: inline-block;
  background-color: $colorBlanco;
  padding: 1rem 1.25rem;
  color: $colorPrincipal;
  border-radius: .5rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}
.btn-listen{
  background-color: $colorOscuro;
  padding: 1rem 1.25rem;
  color: $colorBlanco;
  border-radius: .5rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}