/* utilities */
@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../components/buttons" as *;

header{
    .navbar{
        background-color: $colorCrema;
            .container-fluid{
                width: 100%;
                max-width: 85.375rem;
                margin: 0 auto;
                .navbar-brand{
                    width: 130px;
                }
            }
        .btn-primary{
            @extend .btn-primary;
            border: none;
            &:hover{
                background-color: $colorPrincipalHover;
            }
        }
        .active{
            text-decoration: underline;
        }
    }
}