/* ≤ 576px: móvil */
@media (max-width: 576px) {

  /* ---------------------------------- */
  /* CABECERA */
  /* ---------------------------------- */

  .text h1{
    font-size: 2.875rem;
    font-weight: 600;
  }
  .text p{
    font-size: 1.4375rem;
    font-weight: 100;
  }
  .text .stats .stats-info h4{
    font-size: 1.5625rem;
    font-weight: 800;
    margin: 0;
  }
  .text .stats .stats-info span{
    font-size: .875rem;
  }

  /* ---------------------------------- */
  /* BARRA LOGOS PLATAFORMAS STREAMING */
  /* ---------------------------------- */

  .logos-bar{
    background-color: #A461DE;
  }
  .logos-bar .contenedor{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .logos-bar img{
    width: auto;
    height: 15px;
  }

  /* ---------------------------------- */
  /* SECCIÓN SERVICIOS */
  /* ---------------------------------- */

  .info-title-container{
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .info-title-container h2{
    font-size: 1.75rem;
    font-weight: 700;
  }
  .info-title-container p{
    font-size: 1.25rem;
    font-weight: 200;
  }
  .services .service-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1.875rem;
    justify-content: space-between;
  }
  .services .service-grid .service-card{
    display: grid;
    grid-template-rows: 3fr;
    grid-gap: .625rem;
    background-color: #ffffff;
    border-radius: 1.25rem;
    padding: 1.875rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.009);
  }
  .services .buttons{
    text-align: center;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }


  /* ---------------------------------- */
  /* SECCIÓN PROCESO */
  /* ---------------------------------- */

  .process .image-placeholder img{
    width: 100%;
  }


  /* ---------------------------------- */
  /* SECCIÓN NUESTROS PODCASTS */
  /* ---------------------------------- */

  .success-stories .tags{
    display: flex;
    justify-content: center;
    grid-gap: .9375rem;
    margin-top: -1.25rem;
    margin-bottom: 2.5rem;
  }
  .success-stories .contenedor .podcast-grid{
    display: grid;
    grid-template-columns: 1fr;
  }
}